# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# Airflow
airflow/logs/
airflow/airflow.db/
airflow/airflow.cfg

# PostgreSQL
*.sql.gz